<!-- <div>
	<a [routerLink]="['demo']">Home</a>
	<a [routerLink]="['']">Login</a>
	<a [routerLink]="['signup']">Sign Up</a>	
</div> -->

<form (submit)="loginUser($event)">
	<div class="login">
	<div class="input">
		<label>Username</label>
		<input type="text">
	</div>
	<div class="input">
		<label>Password123:</label>
		<input type="password">
	</div>
	<div class="input" data-dismiss="login">
		<input type="submit" value="Login">
	</div>
</div>
</form>

<!-- <div>
	<a [routerLink]="['']">Login</a>
	<a [routerLink]="['signup']">Sign Up</a>
	<a [routerLink]="['demo']">Home</a>
</div> -->

<!-- <ng-template #template>
	<div class="modal-header">

		<button type="button" aria-label="Close" (click)="modal">
		<form>
			
		</form>
	</div>
</ng-template> -->